<%- include('templace/head.ejs') %>
<link rel="stylesheet" href="/Css/login.css">
	<title>Document</title>

</head>
<body>
	<div class="body">
		
	<%- include('templace/login.ejs') %>
	</div>
	<script type="text/javascript" src="/Js/Funcionalidad.js"></script>
</body>
</html>