.UlBox{
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
}
.UlBox  svg{
    position: absolute;
    right: 6px;
    color: #5277ff;
    filter: drop-shadow(3px 3px 2px #5277ff);
}