body{
	justify-content: center;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 98vw;
	max-width: 800px;
	height: 98vh;
	gap: 15px;
}
.container .info_pago{
	width: 100%;
	height: 100%;
}
.container .monto{
	width: 95%;
	background-color: #fff7;
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
}
.container .div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}
.container .div p{
	font-size: 1em;
	font-weight: 500;
	letter-spacing: .05em;
}
.container .div b{
	font-size: 1.05em;
	font-size: bold;	
}
.container .div #referencia{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.container .logo_info{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.container .logo_info img{
	width: 13%;
}
.container .logo_info p{
	font-size: 1.3em;
	font-weight: 500;
	letter-spacing: .09em;
}
.container .logo_info i{
	font-size: 1.5em;
}
.container .icon{
	font-size: 2em;
	margin-bottom: 20px;
	cursor: pointer;
}