<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" href="/Css/style.css"> 
		<title>Formulario de Express</title>
	</head> 
	<body> 
		<h1> Gestion de Items</h1>


		<form action="/add" method="POST">
			<input type="text" name="item" palceholder="Añadir Texto">
			<button type="submit">Añadir Item</button>
		</form>
		
		<a href="/tuna">Hola putito</a>

</body>
</html>