<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tuna</title>
		<link rel="stylesheet" href="/Css/style.css"> 
</head>
<body>
	<ul>
		<% data.forEach((item) =>{ %>
		<li>
			<%= item.name %>
			<form action="/update" method="POST" style="display: inline;">
				<input type="hidden" name="index" value="<%= item.id %>">
				<input type="text" name="newItem" placeholder="Nuevo Item">
				<button type="submit">Actualizar</button>
			</form>
			<form action="/delete" method="POST" style="display:inline;">
				<input type="hidden" name="index" value="<%= item.id%>">
				<button type="submit">Eliminar</button>
			</form>
		</li>
		<% }); %>
	</ul>
	<a href="/">Inicio</a>
</body>
</html>